*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.egg-info
*.pkl
*.pdf
*.png
*.root
*.npy
*.npz
*.h5
*.hdf5
*.json
*.yaml
*.pb
*.out
*.parquet
.env_*.sh
.env_*.sh.tmp
.coverage
coverage*.xml
requirements_user.txt
__pycache__
dist
build
static
docs/_build
tmp
store
software
data
.data
.law
.setups
.mypy_cache
.vscode
