*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.egg-info
*.pkl
*.pdf
*.png
*.root
*.npy
*.npz
*.h5
*.hdf5
*.json
*.yaml
*.pb
*.txt
*.out
.env_*.sh
.env_*.sh.tmp
requirements_user.txt
__pycache__
dist
build
tmp
store
software
data
.data
.law
.setups
