plugins:
  # disable max line length
  md013:
    enabled: False
  md033:
    allowed_elements: "!--,![CDATA[,!DOCTYPE,table,h1,a,p,img,div"
  md026:
    punctuation: ".,;!。，；！"
  md001:
    enabled: False
