# version 8

# documentation packages
sphinx~=7.4.7
sphinx-design~=0.6.1
sphinx-copybutton~=0.5.2
sphinx-autodoc-typehints~=2.3.0
sphinx-book-theme~=1.1.4
sphinx-lfs-content~=1.1.8
sphinxcontrib-mermaid~=1.0.0
autodocsumm~=0.2.14
myst-parser~=3.0.1

# prod packages
-r ../sandboxes/cf.txt

# selection of packages from sandboxes
-r ../sandboxes/columnar.txt
