# version 1

# documentation packages
sphinx==4.3.*
sphinx-rtd-theme==1.0.*
autodocsumm==0.2.*

# base packages
luigi==3.0.*
scinum==1.4.*
six==1.16.*

# sandbox packages
pyarrow==6.0.*
coffea==0.7.*
uproot==4.2.*
awkward==1.8.*
