# use this law config file if you want to run tasks without having a grid certificate

[core]

# inherit from the analysis configuration file
inherit: $PLHLD_BASE/law.cfg


[local_desy_dcache]

base: /pnfs/desy.de/cms/tier2


[outputs]

lfn_sources: local_desy_dcache


# output locations per task family
# for local targets : "local[, STORE_PATH]"
# for remote targets: "wlcg[, WLCG_FS_NAME]"
cf.BundleRepo: local
cf.BundleSoftware: local
cf.BundleBashSandbox: local
cf.BundleCMSSWSandbox: local
cf.BundleExternalFiles: local
# GetDatasetLFNs requires a Grid certificate -> use a common space to store the output
cf.GetDatasetLFNs: local, /nfs/dust/cms/user/letzerba/data
cf.CalibrateEvents: local
cf.SelectEvents: local
cf.CreateCutflowHistograms: local
cf.PlotCutflow: local
cf.PlotCutflowVariables: local
cf.ReduceEvents: local
cf.MergeReducedEvents: local
cf.ProduceColumns: local
cf.PrepareMLEvents: local
cf.MergeMLEvents: local
cf.MLTraining: local
cf.MLEvaluation: local
cf.CreateHistograms: local
cf.MergeHistograms: local
cf.MergeShiftedHistograms: local
cf.PlotVariables: local
cf.PlotShiftedVariables: local
cf.CreateDatacards: local


[wlcg_fs]

base: &::wlcg_fs_desy::base
create_file_dir: True
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 50GB


[wlcg_fs_desy]

xrootd_base: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/$CF_CERN_USER/$CF_STORE_NAME
gsiftp_base: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/$CF_CERN_USER/$CF_STORE_NAME
base: &::gsiftp_base


[wlcg_fs_cernbox]

xrootd_base: root://eosuser.cern.ch/eos/user/$CF_CERN_USER_FIRSTCHAR/$CF_CERN_USER/$CF_STORE_NAME
base: &::xrootd_base


[wlcg_fs_desy_store]

xrootd_base: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2
gsiftp_base: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2
base: &::xrootd_base
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1


[wlcg_fs_infn_redirector]

base: root://xrootd-cms.infn.it/
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1


[wlcg_fs_global_redirector]

base: root://cms-xrd-global.cern.ch/
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1
